/* some of these are completed for you, others are left blank */

h1 {
  color: red;
}
h2 {
  /* FIX ME */
}
h3 {
  /* FIX ME */
}
h4 {
  /* FIX ME */
}
p {
  /* FIX ME */
}
ul {
  border: 1px solid black;
  font-size: 18px;
}
ol {
  color: yellow;
}
